<h1>Code Component</h1>
<div data-sly-use.code="com.aem.sample.core.models.CodeComponent"></div>
<ul data-sly-list.item="${code.names}">
	<li>${item}</li>
</ul>
<h3>Path Field:${code.pathBrowser}</h3>
<h3>Boolean :${code.isMarried}</h3>
<h3>Country :${code.country}</h3>
<img src="${code.fileReference}" width=600 height=350/>
<div data-sly-include="simple.html"></div>
<h2 data-sly-test=${code.isMarried}>Rendering because it is true</h2>
<h2 data-sly-text="Data Sly Text Statement">Blah</h2>
<template data-sly-template.exe="${@ title, resource='some resource'}"> 
    <h1>${title}</h1>
    <h2>${resource}</h2>
</template>
<div data-sly-call="${exe @ title='some title', resource='some resource'}"></div>
<div data-sly-resource="${'footer' @ resourceType='/apps/AemSite/components/content/footer'}"></div>