
<div class="cmp-footer simpletext p-5">
<p data-sly-text="${properties.jcr:title}">This text would never be shown.</p>
<p data-sly-text="${'<strong>Bold and Proud</strong>' @ context='html'}"></p>
<div data-sly-element="${'h2'}">Element statement</div>
<p data-sly-test.editOrDesign="${wcmmode.edit || wcmmode.design}">displays the content when in `edit` or `design` mode</p>
<p data-sly-test="${!editOrDesign && pageProperties.jcr:title}">
displays the content when in `edit` or `design` mode and the `pageProperties` contain a non-empty `jcr:title` property</p>
<div data-sly-include="simple.html"></div>
<div data-sly-resource="/apps/AemSite/components/content/multifield-text/simple.html"></div>
<template data-sly-template.one>template statement with call</template>
<div data-sly-call="${one}"></div>
</div>